<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
	<insert id="upload" parameterType="BoardDTO">
		INSERT INTO community_tb
		(board_title,
		board_content,
		board_file,
		board_category,
		board_date,
		mb_email)
		VALUES
		(#{board_title} ,
		#{board_content},
		#{board_file},
		#{board_category},
		sysdate,
		#{mb_email})
	</insert>
	<select id="selectBoard" resultType="BoardDTO">
		select * from community_tb order by board_date desc
	</select>
	
	<select id="showBoard" parameterType="Bigdecimal" resultType="BoardDTO">
	select * from community_tb where board_num = #{board_num}
	</select>
	<select id="my_board" parameterType="String" resultType="BoardDTO">
	select * from community_tb where mb_email = #{mb_email}
	</select>
	<update id="boardupdate" parameterType="BoardDTO" >
	UPDATE community_tb
SET
    board_title = #{board_title}, 
    board_content = #{board_content}, 
    board_file = #{board_file}, 
    board_category = #{board_category}, 
    board_date = sysdate
WHERE board_num = #{board_num}
	</update>
	<delete id="board_delete">
	delete from community_tb where board_num =#{board_num}
	</delete>
</mapper>