<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.BoardMapper">
	
	<select id="Filter" parameterType="String" resultType="ItemDTO">
	select * from GLAMPING_CARAVAN_TB where gc_tag=#{tag}
	</select>
	<select id="showDetail" resultType="ItemDTO">
	select * from GLAMPING_CARAVAN_TB where gc_num=#{num}
	</select>
	<select id="tagCheck" parameterType="String" resultType="Boolean">
	select case when count(*)>0 then 1
 					else 0
 				end result
 		from GLAMPING_CARAVAN_TB where gc_tag = #{gc_tag}
	</select>
</mapper>