<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.mapper.LikeMapper">
	
	<insert id="like_insert" parameterType="LikeDTO" >
	insert into like_tb(gc_num, liked, mb_email, like_date) values(#{gc_num},#{liked},#{mb_email},sysdate)
	</insert>
	<select id="showLike" parameterType="LikeDTO" resultType="int">
	select count(*) from like_tb where gc_num=#{gc_num} and mb_email = #{mb_email}
	</select>
	<select id="countLike" parameterType= "BigDecimal" resultType="int">
	select count(*) from like_tb where gc_num = #{gc_num}
	</select>
</mapper>