<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
	insert into member_tb values(#{mb_email},#{mb_pw},#{mb_birthdate},#{mb_name},#{mb_phone},sysdate,1)
	</insert>
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
	select * from member_tb where mb_email = #{mb_email} and mb_pw = #{mb_pw} 
	</select>
	<select id="login_info" parameterType="String" resultType="MemberDTO">
	select * from member_tb where mb_email = #{mb_email}
	</select>
	<select id="emailCheck" parameterType="String" resultType="boolean">
	select case when count(*)>0 then 1
 					else 0
 				end result
 		from member_tb where mb_email = #{mb_email}
	</select>
	<update id="update" parameterType="MemberDTO">
	update member_tb
set
    mb_pw = #{mb_pw}, 
    mb_birthdate = #{mb_birthdate}, 
    mb_name = #{mb_name}, 
    mb_phone = #{mb_phone}, 
    mb_joindate = sysdate, 
    mb_type = 1
where mb_email = #{mb_email}
	</update>
</mapper>