<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.TransferMapper">
	<insert id="transfer_upload" parameterType="TransferDTO">
	INSERT INTO transfer_tb
    (rc_num, 
    transfer_id, 
    transfer_reason, 
    offer_price, 
    reg_date, 
    transfer_status)
	VALUES
    (#{rc_num}, 
    #{transfer_id}, 
    #{transfer_reason}, 
    #{offer_price}, 
    sysdate, 
    '0')
	</insert>
	
	<select id="transfer_all_show" resultType="TransferDTO">
		select * from transfer_tb 
	</select>
	
	<select id="transfer_show" parameterType="Bigdecimal"
		resultType="TransferDTO">
		select * from transfer_tb where
		transfer_num=#{transfer_num}
	</select>
</mapper>